<div class="custom-alert SaveAlert" style="display:none;">
    <div class="alert alert-success" role="alert">
        <strong><i class="glyphicon glyphicon-ok"></i> Success!</strong> Your data has been Submitted Successfully.
    </div>
</div>
<div class="custom-alert UpdateAlert" style="display:none;">
    <div class="alert alert-info" role="alert">
        <strong><i class="glyphicon glyphicon-refresh"></i> Success!</strong> Your data has been Updated.
    </div>
</div>
<div class="custom-alert DeleteAlert" style="display:none;">
    <div class="alert alert-danger" role="alert">
        <strong><i class="glyphicon glyphicon-trash"></i> Success!</strong> Your data deleted Sucessfully.
    </div>
</div>
<div class="custom-alert customalert" style="display:none;">
    <div class="alert alert-info" role="alert">
        <strong><i class="glyphicon glyphicon-pencil"></i> Info!</strong> <span class="custAlert"></span>
    </div>
</div>


<div class="custom-alert custSaveAlert" style="display:none;">
    <div class="alert alert-success" role="alert">
        <strong><i class="glyphicon glyphicon-ok"></i> Success!</strong> <span class="custSaveAlertMsg"></span>
    </div>
</div>