<div class="col-lg-4 col-md-4 col-sm-4 appendButton">
    <button class="btn1 btn btn-blue btn-md addRow" style="margin-bottom: 20px;"><span class=" glyphicon glyphicon-save "></span> Add New</button>
    <button class="btn1 btn btn-blue btn-md Save" style="margin-bottom: 20px; display: none;"><span class="glyphicon glyphicon-save "></span> Save</button>
    <button class="btn1 btn btn-darkgray btn-md removeRow Cancel Clear" style="margin-bottom: 20px; display: none;"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
</div>