
    <button class="btn btn-success AddNew" style="margin-bottom: 20px;"><span class="glyphicon glyphicon-plus"></span> New</button>
    <button class="btn btn-success Save" style="margin-bottom: 20px; display: none;"><span class="glyphicon glyphicon-save "></span> Save</button>
    <button class="btn btn-success Search" style="margin-bottom: 20px;display:none;"><span class="glyphicon glyphicon-search "></span> Search</button>
    <button class="btn btn-success Update" style="margin-bottom: 20px; display:none;"><span class="glyphicon glyphicon glyphicon-refresh "></span> Update</button>
    <button class="btn btn-default Delete" style="margin-bottom: 20px; display:none;"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    <button class="btn1 btn btn-darkgray btn-md Cancel Clear" style="margin-bottom: 20px; display: none;"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
