@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <script src="/Contents/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="/Contents/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="/Contents/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <!-- Theme style -->
    <script src="~/Scripts/loadingoverlay.js"></script>
    <script src="~/Scripts/common.js"></script>
    <link href="/Contents/css/add.min.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="dist/css/main.css">-->
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
            page. However, you can choose any other skin. Make sure you
            apply the skin class to the body tag so the changes take effect.
      -->
    <link href="/Contents/css/custom.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    
    <link rel="icon" href="/Contents/images/icon.png" type="image/x-icon">
    
    <!-- Bootstrap 3.3.6 -->
    <script src="/Contents/bootstrap/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/Contents/js/app.min.js"></script>
    <script>
        function SetActive(levelOne, levelTwo, levelThree) {
            $("#" + levelOne).addClass('active');

            if (levelTwo != "")
                $("#" + levelTwo).addClass('active');

            if (levelThree != "")
                $("#" + levelThree).addClass('active');
        }
        $(document).ready(function () {

            debugger;

        });
    </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="/Contents/images/logo.jpg" height="50" width="50" alt="Logo" /></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="/Contents/images/logo.jpg" height="80" width="250" alt="Logo" /></span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> </a>
                <div class="navbartopbox">
                    <div class="navbartop  pull-left">
                        <ul>
                            <li> <a href="#" class="active"> <span class="menu-icon fa fa-user"></span> Employee </a> </li>
                            <li> <a href="#"> <span class="menu-icon fa fa-calendar"></span> Leaves </a> </li>
                            <li> <a href="#"> <span class="menu-icon fa fa-glass"></span> Vacations </a> </li>
                            <li> <a href="#"> <span class="menu-icon fa fa-cog"></span> Payroll </a> </li>
                            <li> <a href="#"> <span class="menu-icon fa fa-usd"></span> Allounces </a> </li>
                            <li> <a href="#"> <span class="menu-icon fa fa-line-chart"></span> Reducation </a> </li>
                            <li> <a href="#"> <span class="menu-icon fa fa-building-o"></span> Department </a> </li>
                        </ul>
                    </div>
                    <div class="top-nexepre-box pull-left">
                        <div class="nextpre-inner nextpre">
                            <ul>
                                <li><a href="#"><span class="menu-icon fa fa-angle-left"></span></a></li>
                                <li><a href="#"><span class="menu-icon fa fa-angle-right"></span></a></li>
                                <li><a href="#"><span class="menu-icon fa fa-angle-double-right"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        @*<li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-envelope-o"></i> <span class="label label-success">4</span> </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the messages -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <!-- User Image -->
                                                    <img src="img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <!-- Message title and timestamp -->
                                                <h4> Support Team <small><i class="fa fa-clock-o"></i> 5 mins</small> </h4>
                                                <!-- The message -->
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                    </ul>
                                    <!-- /.menu -->
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- /.messages-menu -->
                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bell-o"></i> <span class="label label-warning">10</span> </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start notification -->
                                            <a href="#"> <i class="fa fa-users text-aqua"></i> 5 new members joined today </a>
                                        </li>
                                        <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks Menu -->
                        <li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-flag-o"></i> <span class="label label-danger">9</span> </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- Inner menu: contains the tasks -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <!-- Task title and progress text -->
                                                <h3> Design some buttons <small class="pull-right">20%</small> </h3>
                                                <!-- The progress bar -->
                                                <div class="progress xs">
                                                    <!-- Change the css width attribute to simulate progress -->
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only">20% Complete</span> </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer"> <a href="#">View all tasks</a> </li>
                            </ul>
                        </li>*@
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                @*<img src="img/user2-160x160.jpg" class="user-image" alt="User Image">*@
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">@Session["username"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    @*<img src="img/user2-160x160.jpg" class="img-circle" alt="User Image">*@
                                    <p><small> Pakistan Telecommunication</small> </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                   
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                   
                                    <div class="pull-right"> <a href="/Home/Logout" class="btn btn-default btn-flat">Sign out</a> </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="treeview" id="workflow">
                        <a href="#"> <i class="fa fa-newspaper-o"></i> <span>Products</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                        <ul class="treeview-menu">
                            <li id="products"><a href="/Products/AddProduct"><i class="fa fa-angle-right"></i> Products</a></li>
                            <li id="productdetails"><a href="#"><i class="fa fa-angle-right"></i> Modify Product Details</a></li>
                        </ul>
                    </li>
                    <li class=" treeview" id="purchases">
                        <a href="#"> <i class="fa fa-dashboard"></i> <span><b>Purchases</b></span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                        <ul class="treeview-menu">
                            <li id="loadp"><a href="/Purchases/PurchaseLoad"><i class="fa fa-angle-right"></i>Mobile Load</a></li>
                            <li id="jazzcash"><a href="/Purchases/JazzCash"><i class="fa fa-angle-right"></i>Jazz Cash</a></li>
                            <li id="cardp"><a href="/Purchases/Cards"><i class="fa fa-angle-right"></i> Balance Cards</a></li>
                            <li id="simp"><a href="/Purchases/SimCards"><i class="fa fa-angle-right"></i> SIM Cards</a></li>
                            <li id="otherp"><a href="/Purchases/PurchaseProducts"><i class="fa fa-angle-right"></i> Other Products</a></li>
                        </ul>
                    </li>
                    @*<li class="treeview" id="sales">
                        <a href="#"> <i class="fa fa-briefcase"></i> <span>Sales</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                        <ul class="treeview-menu">
                            <li id="loadsale"><a href="Sales"><i class="fa fa-angle-right"></i> Load</a></li>
                            <li id="cardsale"><a href="/Purchases/Cards"><i class="fa fa-angle-right"></i> Balance Cards</a></li>
                            <li id="simsale"><a href="/Purchases/SimCards"><i class="fa fa-angle-right"></i> SIM Cards</a></li>
                            <li id="othersale"><a href="/Purchases/PurchaseProducts"><i class="fa fa-angle-right"></i> Other Products</a></li>
                        </ul>
                    </li>*@
                   
                    <li class="treeview" id="distributors">
                        <a href="#"> <i class="fa fa-beer"></i> <span>Distributors <b>(DO)</b></span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                        <ul class="treeview-menu do">
                            <li id="domanage"><a href="/User/AddDO"><i class="fa fa-angle-right"></i>DO Management</a></li>
                            <li id="dosales"><a href="/Sales/ProductDistributor"><i class="fa fa-angle-right"></i>Sales to DO</a></li>
                            <li id="dobalance"><a href="/Sales/DOBalances"><i class="fa fa-angle-right"></i>DO's Balances</a></li>
                        </ul>
                    </li>
                    <li class="treeview" id="mobicash">
                        <a href="#"> <i class="fa fa-bug"></i> <span>MobiCash</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                        <ul class="treeview-menu bank">
                            <li id="retailers"><a href="/Sales/MobicashRetailers"><i class="fa fa-angle-right"></i> Retailers</a></li>
                            <li id="retailersmobicash"><a href="/User/Mobicash"><i class="fa fa-angle-right"></i> Mobicash To Retailers</a></li>
                        </ul>
                    </li>
                    <li class="treeview" id="bank">
                        <a href="#"> <i class="fa fa-bug"></i> <span>Accounts</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                        <ul class="treeview-menu bank">
                            <li id="bankmanage"><a href="/User/AddBanks"><i class="fa fa-angle-right"></i> Banks</a></li>
                            <li id="banktrans"><a href="/User/BankTrans"><i class="fa fa-angle-right"></i> Bank Transactions</a></li>
                        </ul>
                    </li>
                    <li class="treeview" id="Users">
                        <a href="#"> <i class="fa fa-newspaper-o"></i> <span>Users</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                        <ul class="treeview-menu">
                           <li id="usermanage"><a href="/User/Users"><i class="fa fa-angle-right"></i> Users Management</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="row top-menu-box-bg" style="height:50px !important;">
                <section class="content-header top-margin">
                    <div class="pull-left">
                        @*<button type="button" class="btn btn-success"> <i class="fa fa-plus"></i> New </button>
                        <button type="button" class="btn btn-success"> <i class="fa fa-search"></i> Search </button>*@
                        @{

                            Html.RenderPartial("_ButtonList1");
                        }
                    </div>
                </section>
            </div>
            <!-- Content Header (Page header) -->
            @RenderBody()
        </div>
       
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs"> Anything you want </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Inventory</a>.</strong> All rights reserved.
        </footer>
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 2.2.3 -->
    
</body>
</html>
